$primary: #202020;
$secondary: #121212;
$white: #fff;
$red: #CD251A;
$blue: #2A5FE7;
$header: #0D0D0D;
$black: #000000;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

$sidebar_width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px;
