<header class="header">
    <div class="header_left">
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a class="nav_link" href="index.html">Home</a></li>
                <li class="nav_item"><a class="nav_link has-subnav" href="#">Articles</a>
                    <ul class="subnav">
                        <li><a class="subnav_link" href="#">Article1</a></li>
                        <li><a class="subnav_link" href="#">Article2</a></li>
                        <li><a class="subnav_link" href="#">Article3</a></li>
                    </ul>
                </li>
                <li class="nav_item"><a class="nav_link" href="text.html">About me</a></li>
                <li class="nav_item"><a class="nav_link" href="text.html">Advertising</a></li>
            </ul>
        </nav>
    </div>

    <button class="burger" type="button" id="sidebarToggle">
        <span>Open navigation</span>
    </button>
    <div class="header_right">
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a class="nav_link" href="profile.html">Profile</a></li>
                <li class="nav_item"><a class="nav_link" href="#">Log out</a></li>
            </ul>
        </nav>
        <form class="search" action="search.html" method="GET">
            <input class="search_input" type="text" name="" id="" placeholder="Blog Search">
        </form>
    </div>
</header>