<aside class="sidebar">
  <div class="sidebar_header">
    <img src="assets/images/sidebar_header.jpg" alt="" />
  </div>

  <div class="sidebar_content">
    <div class="profile">
      <img class="profile_avatar" src="https://placehold.it/100" alt="" />
      <div class="profile_name">Alona Kovtun</div>
      <div class="profile_prof">front-end developer blog</div>

      <ul class="social">
        <li class="social_item">
          <a class="social_link" href="#" target="_blank">
            <img src="assets/images/instagram.svg" alt="" />
          </a>
        </li>
        <li class="social_item">
          <a class="social_link" href="#" target="_blank">
            <img src="assets/images/vk.svg" alt="" />
          </a>
        </li>
        <li class="social_item">
          <a class="social_link" href="#" target="_blank">
            <img src="assets/images/pinterest.svg" alt="" />
          </a>
        </li>
      </ul>

      <div class="profile_text">
        <p>
          Front-end developer. Website layout practitioner. Website creation
          I have been doing it since 2019.
        </p>
      </div>
    </div> <!-- profile -->
  </div> <!-- sidebar_content -->

  <div class="sidebar_footer">
      <a class="btn btn_red" href="works.html"> My works</a>

      <button class="btn btn_blue">Write me</button>
  </div>

  <div class="sidebar_footer"></div>
</aside>
